<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/webclient/js/w2ui-1.5.rc1.min.css" />
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script> -->
    <script src="/webclient/js/jquery.min.js"></script>
    <script src="/webclient/js/w2ui-1.5.rc1.js"></script>
    <!-- <link rel="stylesheet" href="/webclient/html/fa/css/fontawesome-all.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/webclient/html/fa/css/all.css">
    <!-- <script src="https://use.fontawesome.com/6e18d0f7c3.js"></script> -->
    <link rel="icon" type="image/png" href="/webclient/html/images/favicon32x32.png">
</head>
<body>
<script type="text/javascript">
"use strict";
var App = {tformRenderCount: 0};

function buildURL() {
    var s = document.getElementById("rrHostAddr").value;
    if (s.slice(-1) == '/') {
        s = s.slice(0, -1);
    }
    var svc = document.getElementById("rrWebService").value;
    if (svc[0] != '/') {
        svc = '/' + svc;
    }
    return s + svc;
}

$(function () {
    var pstyle = 'border: 1px solid #dfdfdf; padding: 5px;';
    var whitebg = 'border: 1px solid #dfdfdf; padding: 5px; background-color: white;';
    var litebluebg = 'border: 1px solid #dfdfdf; padding: 5px; background-color:#EDF1F6;';

    $().w2toolbar({
        name: 'testtoolbar',
        items: [
            { type: 'button', id: 'minify',   caption: 'Minify',   icon: 'fas fa-download'},
            { type: 'button', id: 'encode',   caption: 'Encode',   icon: 'fas fa-expand'},
            { type: 'button', id: 'decode',   caption: 'Decode',   icon: 'fas fa-compress'},
            { type: 'button', id: 'beautify', caption: 'Beautify', icon: 'fas fa-indent'},
            { type: 'button', id: 'clearall', caption: 'Clear All',icon: 'fas fa-times-circle'},
            { type: 'break',  id: 'break1' },
            { type: 'button', id: 'sendpost', text: 'Send POST', icon: 'far fa-arrow-alt-circle-up' },
            { type: 'button', id: 'sendget', text: 'Send GET', icon: 'fas fa-arrow-alt-circle-up' },
            { type: 'spacer', id: 'bt3' },
            { type: 'button', id: 'btnClose', icon: 'fas fa-times' },

        ],
        onClick: function (event) {
            var s;
            var url;
            switch(event.target) {
                case 'minify':
                    s = document.getElementById("rrSendThis").value;
                    document.getElementById("rrSendThis").value = JSON.stringify(JSON.parse(s));
                    break;
                case 'encode':
                    s = document.getElementById("rrSendThis").value;
                    document.getElementById("rrSendThis").value = encodeURIComponent(s); // the web address portion is kept elsewhere
                    break;
                case 'decode':
                    s = document.getElementById("rrSendThis").value;
                    document.getElementById("rrSendThis").value = decodeURIComponent(s);
                    break;
               case 'beautify':
                    s = document.getElementById("rrSendThis").value;
                    document.getElementById("rrSendThis").value = JSON.stringify(JSON.parse(s),null,4);
                    break;
               case 'clearall':
                    document.getElementById("rrSendThis").value = '';
                    document.getElementById("rrWebService").value = '';
                    document.getElementById("rrResponseStatus").value = '';
                    document.getElementById("rrResponse").value = '';
                    break;
                case 'sendget':
                    url = buildURL();
                    console.log('url = '+url);
                    $.get(url)
                    .done( function(data,status){
                        document.getElementById("rrResponseStatus").value = status;
                        var dtype = typeof data;
                        document.getElementById("rrDataType").value = dtype;
                        switch (dtype) {
                        case "object":
                            document.getElementById("rrResponse").value = JSON.stringify(data,null,4);
                            break;
                        default:
                            document.getElementById("rrResponse").value = data;
                            break;
                        }
                        var original_color = $('rrResponseStatus').css('border-left-color');
                        $('rrResponseStatus')
                          .animate({borderColor:'red'}, 400, 'linear')
                          .delay(400)
                          .animate({borderColor:original_color}, 2800, 'easeOutCirc');
                    })
                    .fail( function() {
                        console.log('Error getting /v1/uilists');
                     });
                    break;
                case 'sendpost':
                    url = buildURL();
                    var data = document.getElementById("rrSendThis").value;
                    $.post(url, data, function(data,status) {
                        document.getElementById("rrResponse").value = JSON.stringify(data,0,4);
                        document.getElementById("rrResponseStatus").value = status;
                    });
                    break;
                case 'btnClose':
                    w2ui.layout.hide('right', true);
                    break;
            }
        },
    });

    $('#layout').w2layout({
        name: 'testerLayout',
        panels: [
            { type: 'top', size: 34, style: pstyle, content: w2ui.testtoolbar },
            { type: 'main', size: '100%', style: litebluebg, content: 'testerLayout.main' },
        ]
    });

    $('#layout').w2layout({
        name: 'layout',
        panels: [
            { type: 'top', size: 75, style: pstyle, content: 'top' },
            { type: 'left', size: 260, style: pstyle, content: 'left' },
            { type: 'main', style: whitebg, content: 'layout.main' },
            // { type: 'preview', size: '50%', hidden: false, resizable: true, style: whitebg, content: w2ui.testerLayout },
            { type: 'right', hidden: false, size: 700, resizable: true, style: whitebg, content: w2ui.testerLayout },
        ]
    });


    w2ui.layout.content('top', $().w2toolbar({
		    name: 'toptoolbar',
		    items: [
		        { type: 'html',  id: 'title',
		            html: '<div style="padding: 4px 0px; font-size: 8pt;">'+
		                  '<h2 class=>RentRoll Web Service API&nbsp;&nbsp;&nbsp;</h2>'+
		                  '<p style="color: #777777;"><br>API Version: {{.Version}}<br>Generated: {{.Date}}</p>'+
		                  '</div>'
		        },
                { type: 'button', id: 'tester', text: 'Test Window', icon: 'fas fa-star' },

		    ],
            onClick: function(event) {
                switch (event.target) {
                    case 'tester':
                        w2ui.layout.show('right', true);
                        // if (App.tformRenderCount === 0) {
                        //     w2ui.testerLayout.load('main', '/doc/tester.html');
                        //     App.tformRenderCount++;
                        // }
                        w2ui.testerLayout.load('main', '/doc/tester.html');
                        w2ui.layout.render();
                        //w2ui.testerLayout.render();
                        var x = document.getElementById("rrHostAddr");
                        if (x !== null) {
                            x.value = window.location.origin;
                        }
                        break;
                }
            },
		})
	);

    w2ui.layout.content('left',$().w2sidebar({
        name: 'sidebar',
        nodes: [
            { id: 'apis', text: 'API Calls', img: 'icon-folder', expanded: true, group: true,
                nodes: [
                {{range .TOC}}{id: '{{.ID}}', text: '{{.Title}}'},{{end}}
                ]
            },
        ],
        onClick: function (event) {
            //console.log('event.target = ' + event.target);
            switch(event.target) {
                {{range .TOC}}case '{{.ID}}': w2ui.layout.load('main', '/doc/{{.Filename}}'); break; {{end}}
                default:
                    console.log('unhandled event: ' + event.target);
            }
        }
    }));
    {{$d := index .TOC 0}}
    w2ui.sidebar.select('{{$d.ID}}'); // select the first doc automatically
    w2ui.sidebar.click('{{$d.ID}}'); // show the first doc automatically
    w2ui.testerLayout.load('main', '/doc/tester.html');
});


</script>
<div id="layout"style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;"></div>
</body>
</html>